/*this is for how the pictures and fighters are going to be displayed on the page*/

.gallery img{
    width: 100%;
    height: 120px;
    border-radius: 10px;
}

.gallery img:hover{
    background-color: grey;
}

.gallery a{ 
    text-decoration: none;
    color: black;
    font-family: fantasy;
}

.gallery a:hover{
    color: red;
}


/*this is for every link in the menu that's at the bottom of the page*/
#menu-bar a{
    font-family: fantasy;
    color: black;
     text-decoration: none;
}

#menu-bar img{
    width: 30px;
    padding: 30px;
}

p{ 
    font-family: fantasy;
}


/*this is for every link in the page*/

a{ 
    text-decoration: none;
    color: black;
}

a:hover{ 
    color: red;
}

/*this is for the menu that's at the top of the page*/
.mainmenu{
    display: flex;
    align-items: center;
}
.mainmenu a{
    text-decoration: none;
    color: black;
    font-family: fantasy;
}
.mainmenu img{
    width: 30px;
    padding: 30px;
}
.menuBtns{
    background: none;
    border: none;
    cursor: pointer;
}
 /*this is for the dropdownmenu in the menu tab at the top of the page*/
.menuoptions a{
    display: block;
    padding: 20px;
}

.menuoptions {
    background-color: gray;
    position: absolute;
    display: none;
}
.dropdown:hover .menuoptions{
    display: block;
}


/*this is for all headings in pages*/
#heading h1{
    font-family: fantasy;
    text-align: center;

}
#heading h1:hover{
    color: grey;
}

/*about page with all the differnt types of fighting styles*/
#fighternames:hover{
    color: red;
}

#fightingstyles img{
    width: 100%;
    height: 120px;
    border-radius: 10px;
}
#fightingstyles img:hover{
    background-color: grey;
}
 /*loginform styling here
#loginform label{
    font-family: fantasy ;
}
#loginform input:hover{
    background-color: grey;
}
#loginform input{
    font-family: fantasy;
}

*/
/*this is all the store css*/
.storeimg img{
    width: 200px;
}
.storeimg button{
    border-radius: 13px;
    font-family: fantasy;
    padding: 10px;
    background-color: white;
}

.storeimg button:hover{
    background-color: grey;
}


.gloves {
    display: flex;
    align-items: center;
}
.gloves p{
    padding: 40px;
}



.jacket {
    display: flex;
    align-items: center;
}
.jacket p{
    padding: 40px;
}



.shirt {
    display: flex;
    align-items: center;
}
.shirt p{
    padding: 40px;
}



.short {
    display: flex;
    align-items: center;
}
.short p{
    padding: 40px;
}



.sportbag {
    display: flex;
    align-items: center;
}
.sportbag p{
    padding: 40px;
}


.hoodie {
    display: flex;
    align-items: center;
}
.hoodie p{
    padding: 40px;
}

/*loginform styling*/


.container{
    font-family: fantasy;
}
.container input{
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    color: grey;
    padding: 9px;
}
.container input:focus{
    border: 2px solid grey
}
.container label{
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    display: block;
}

#form button{
    width: 100%;
    font-family: fantasy;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    
}

#form button:hover{
    color: grey;
}

/*this is for the store and shsowing the different item sizes*/
.gloves .ufcglovesizes a{
    display: block;   
}
.gloves .ufcglovesizes{
    position: absolute;
    background-color: whitesmoke;
    padding: 10px;
    margin-left: 335px;
    margin-top: 160px;
    display:none; 
}

.gloves:hover .ufcglovesizes{
    display: block;
}

.jacket .ufcjacketsizes a{
display: block;
}
.jacket .ufcjacketsizes{
    position: absolute;
    background-color: whitesmoke;
    padding: 10px;
    margin-left: 335px;
    margin-top: 158px; 
    display: none; 
}
.jacket:hover .ufcjacketsizes{
    display: block;
}

.shirt .ufcshirtsizes a{
    display: block;
}
.shirt .ufcshirtsizes{
    position: absolute;
    background-color: whitesmoke;
    padding: 10px;
    margin-left: 335px;
    margin-top: 158px; 
    display:none ; 
}
.shirt:hover .ufcshirtsizes{
    display: block;
}

.short .ufcshortsizes a{
    display: block;
}
.short .ufcshortsizes{ 
    position: absolute;
    background-color: whitesmoke;
    padding: 10px;
    margin-left: 335px;
    margin-top: 160px; 
    display:none ; 
}
.short:hover .ufcshortsizes{
    display: block;
}

.sportbag .ufcsportbagsizes a{
    display: block;
}
.sportbag .ufcsportbagsizes{
    position: absolute;
    background-color: whitesmoke;
    padding: 10px;
    margin-left: 335px;
    margin-top: 160px; 
    display:none ; 
}
.sportbag:hover .ufcsportbagsizes{
    display: block;
}

.hoodie .ufchoodiesizes a{
    display: block;
}
.hoodie .ufchoodiesizes{
    position: absolute;
    background-color: whitesmoke;
    padding: 10px;
    margin-left: 335px;
    margin-top: 160px; 
    display:none ; 
}
.hoodie:hover .ufchoodiesizes{
    display: block;
}